<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AnthropicApiKey" value="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"/>
      <add key="McpServer" value="http://localhost:5271/mcp"/>
  </appSettings>

</configuration>